

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>name

<p>
  <strong>Description:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @user.country %>
</p>

<%= link_to 'Edit', new_admin_add_user_path %> |
<%= link_to 'Back', add_users_path %>
