<p id="notice"><%= notice %></p>

<h1>My Organizations</h1>
<body id="organizations">
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Contacts</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.description%></td>
        <td><%= organization.address %></td>
        <td><%= organization.contacts %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<a href="organizations/new?" class="btn btn-default" role="button">New Organization</a>