<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>name

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @organization.contacts %>
</p>

<p>
  <strong>Attachments:</strong>
  <% @organization.attachments.each do |att| %>
        <li> <%= att.attachment_file_name %> </li>
  <% end %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
