<!DOCTYPE html>
<html>
  <head>
    <title>GoodThings</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="position:absolute; top: 10px; right: 20px;">
      <%if user_signed_in? %>
          <%= link_to(t('.edit_user'), edit_user_registration_path) %>
          <%= link_to(t('.sign_out'), destroy_user_session_path, method: :delete) %>
      <%else%>
          <%= link_to(t('.sign_in'), new_user_session_path) %>
      <%end%>
    </div>

    <% flash.each do |name, msg|%>
      <%=msg%>
    <%end%>
    <%= yield %>
  </body>
</html>
