<!DOCTYPE html>
<html>
<head>
  <title>GoodThings</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%if user_signed_in? %>
  <div class = "container">
    <header class="row" style="margin-top: 20px;">
      <div class = "col-xs-offset-1 col-xs-8">
        <ul class="nav nav-pills">
          <li><a href="/" class = "active" >Home</a></li>
          <li><a href="#" class="profile">Profile</a></li>
          <li><a href="#" class="messages" >Messages</a></li>
          <li><a href="/organizations" class="organizations">Organizations</a></li>
          <li><a href="/requests" class="requests">Requests</a></li>
        </ul>
      </div>
      <div class="col-xs-2">
        <div class="dropdown">
          <div style="display:inline-block" class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %>
          <div class="dropdown-content" style="z-index: 999">
              <%if  current_user.try(:admin_permissions?) %>
              <%= link_to "Админка", admin_pages_path %>
              <%end%>
              <%= link_to "Редактировать", edit_user_registration_path %>
              <%= link_to "Выход", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="tbody col-xs-10 col-xs-offset-1" style = "margin-top:0px; min-height: 980px;">
        <%end%>
      <%= yield %>
    </div>

    <footer class="col-xs-12">
      <div class="center-block">
        <p> Good Things, <%= Time.now.to_datetime.year %> </p>
      </div>
    </footer>
  </div>
</body>
</html>
